/* ================= FOOTER ================= */

.app-footer {
  background: var(--primary-dark);
  color: #fff;
  margin-top: 40px;
}

.footer-container {
  max-width: 1400px;
  margin: auto;
  padding: 35px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.heading {
  color: var(--primary-light);
}
.paragraph {
  color: white;
}
/* CONTACT */
.footer-contact h4 {
  margin-bottom: 10px;
}

.footer-contact p {
  margin: 6px 0;
  font-size: 0.9rem;
}

/* CENTER */
.footer-center {
  text-align: center;
  max-width: 400px;
}

.footer-center a {
  color: white;
  text-decoration: none;
}

.footer-center .paragraph {
  display: flex;
  flex-direction: column;   
  gap: 8px;                
  align-items: center;
}

.footer-center a:hover {
  color: #00bcd4;
}

/* SOCIAL */
.footer-social {
  text-align: center;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.social-icons i {
  cursor: pointer;
  color: white;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  padding: 12px;
  background: #111;
  font-size: 0.85rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-social {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
