/* ==============================
   HEADER NAVBAR
============================== */
.app-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* logo left */
.app-header .logo img {
  height: 40px;
}

/* menu links desktop */
.app-header .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}
.app-header .nav-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* hamburger */
.app-header .menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ==============================
   MOBILE
============================== */
@media (max-width: 768px) {

  /* hamburger visible right */
  .app-header .menu-toggle {
    display: block;
  }

  /* hide desktop menu */
  .app-header .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--white);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
    display: none;
    box-shadow: var(--shadow-lg);
  }

  /* open dropdown */
  .app-header .nav-links.active {
    display: flex;
  }
}
