/* ===== Industrial Modules Page ===== */

.im-page-wrapper{
  width:100%;
  min-height:100vh;
  overflow:hidden;
}

/* container */
.im-modules-container{
  display:flex;
  width:100%;
  min-height:100vh;
}

/* cards */
.im-module-card{
  flex:1;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:0.4s ease;
  color:#ffffff;
}

.im-module-card:hover{
  flex:1.2;
}

/* overlay */
.im-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.45);
}

/* content */
.im-card-content{
  position:relative;
  text-align:center;
  z-index:2;
  padding:20px;
}

.im-card-content h2{
  font-size:32px;
  margin-bottom:10px;
  color: rgb(178, 228, 12);
}

.im-card-content p{
  font-size:22px;
  letter-spacing:1px;
  color: white;
}

/* background images */
.im-module-a{
  background:url("module-A.png") center/cover no-repeat;
}
.im-module-b{
  background:url("module-B.png") center/cover no-repeat;
}
.im-module-c{
  background:url("module-C.png") center/cover no-repeat;
}
.im-module-d{
  background:url("module-D.png") center/cover no-repeat;
}

/* ================= MOBILE ================= */
@media(max-width:900px){

  .im-modules-container{
    flex-direction:column;
  }

  .im-module-card{
    height:25vh;
  }

  .im-module-card:hover{
    flex:1; /* disable expansion on mobile */
  }

  .im-card-content h2{
    font-size:22px;
  }

  .im-card-content p{
    font-size:16px;
  }
}

/* small mobile */
@media(max-width:480px){

  .im-module-card{
    height:22vh;
  }

  .im-card-content h2{
    font-size:20px;
  }

  .im-card-content p{
    font-size:14px;
  }
}
